body {
    display: flex;
    background-color: #F3F3F1;
    width: 1600px;
    height: 2027px;
    padding: 50px 40px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    position: relative;
    border: #000000 2px solid;
}

@font-face {
    font-family: Mori;
    src: url('fonts/PPMori-Regular.otf');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: Mori;
    src: url('fonts/PPMori-Semibold.otf');
    font-weight: 615;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: Mori;
    src: url('fonts/PPMori-SemiboldItalic.otf');
    font-weight: 615;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: Mori;
    src: url('fonts/PPMori-Black.otf');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}
/* background */
.background-text {
    width: 1600px;
    font: 2800px Mori, normal;
    font-weight: 900;
    color: #00985F;

    position: absolute;
    z-index: -1;
    margin-top: -720px;
    margin-left: -100px;
}

/*header*/

.header {
    display: flex;
    align-items: center;
    align-self: stretch;
    justify-content: space-between;   
}

.container {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.circle {
    font: 20px Mori, normal;
    color: #F7FAE9;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin: 0;
}

.circle-1 {
    background-color: #0A59B8;
}

.circle-2 {
    background-color: #FF6527;
}

.circle-3 {
    background-color: #B4A44D;
}

.circle-4 {
    background-color: #F399CC;
}

.circle-5 {
    background-color: #DD1C17;
}

.circle-6 {
    background-color: #24247E;
}

/* rectangles */
.container-rectangles {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
}

.rectangle-1 {
    width: 95px;
    height: 140px;
    background: #3A8AE3;
}

.rectangle-2 {
    width: 95px;
    height: 140px;
    background: #E9B50A;
}

/* v */
.container-v {
    display: flex;
    width: 374px;
    height: 558px;
    padding-top: 500px;
    flex-direction: column;
    align-items: flex-start;
}

.v-title {
    align-self: stretch;
    font: 550px Mori;
    font-weight: 615;
    color: #F598C7;
    line-height: 456px; 
    margin: 0;
}

.v-description {
    font: 26px Mori;
    font-weight: 615;
    line-height: 132%;
    color: #65605D;
    margin: 0;
}

/* mori footer */
.mori-footer {
    font-size: 500px;
    font-family: Mori;
    position: absolute;
    margin-top: 970px;
    margin-left: 200px;
}

.footer-M {
    color: #0F62C0;
    font-weight: normal;
}

.footer-O {
    color: #B6A557;
    font-style: italic;
}

.footer-R {
    color: #F598C7;
    font-weight: bold;
}

.footer-I {
    color: #490D65;
    font-weight: 615;
}

/* little smth */
.blah {
    align-self: flex-end;
    font: 16px Mori, normal;
    color: #000000;
}